/*!
 * Start Bootstrap - Business Casual Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url('../images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    font-size: 1.25em;
    line-height: 1.6;
    color: #000;
}

hr {
    max-width: 400px;
    border-color: #999999;
}

.brand,
.address-bar {
    display: none;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

.img-full {
    min-width: 100%;
}

.brand-before,
.brand-name {
    text-transform: capitalize;
}

.brand-before {
    margin: 15px 0;
}

.brand-name {
    margin: 0;
    font-size: 4em;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

footer {
    background: #fff;
    background: rgba(255,255,255,0.9);
}

footer p {
    margin: 0;
    padding: 50px 0;
}

@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        color: #fff;
    }

    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 40px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color: #fff;
    }

    .navbar {
        border-radius: 0;
    }

    .navbar-header {
        display: none;
    }

    .navbar {
        min-height: 0;
    }

    .navbar-default {
        border: none;
        background: #fff;
        background: rgba(255,255,255,0.9);
    }

    .nav>li>a {
        padding: 35px;
    }

    .navbar-nav>li>a {
        line-height: normal;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}

.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-y: auto;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


div.ng-tag-cloud {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 10px;
  line-height: normal;
}

div.ng-tag-cloud a {
  font-size: inherit;
  text-decoration: none;
}

div.ng-tag-cloud span.w10 { font-size: 550%; }
div.ng-tag-cloud span.w9 { font-size: 500%; }
div.ng-tag-cloud span.w8 { font-size: 450%; }
div.ng-tag-cloud span.w7 { font-size: 400%; }
div.ng-tag-cloud span.w6 { font-size: 350%; }
div.ng-tag-cloud span.w5 { font-size: 300%; }
div.ng-tag-cloud span.w4 { font-size: 250%; }
div.ng-tag-cloud span.w3 { font-size: 200%; }
div.ng-tag-cloud span.w2 { font-size: 150%; }
div.ng-tag-cloud span.w1 { font-size: 100%; }

/* colors */

div.ng-tag-cloud { color: #09f; }
div.ng-tag-cloud a { color: inherit; }
div.ng-tag-cloud a:hover { color: #0df; }
div.ng-tag-cloud a:hover { color: #0cf; }
div.ng-tag-cloud span.w10 { color: #0cf; }
div.ng-tag-cloud span.w9 { color: #0cf; }
div.ng-tag-cloud span.w8 { color: #0cf; }
div.ng-tag-cloud span.w7 { color: #39d; }
div.ng-tag-cloud span.w6 { color: #90c5f0; }
div.ng-tag-cloud span.w5 { color: #90a0dd; }
div.ng-tag-cloud span.w4 { color: #90c5f0; }
div.ng-tag-cloud span.w3 { color: #a0ddff; }
div.ng-tag-cloud span.w2 { color: #99ccee; }
div.ng-tag-cloud span.w1 { color: #aab5f0; }

/* layout */

div.ng-tag-cloud {
  overflow: hidden;
  position: relative;
}

div.ng-tag-cloud span { padding: 0; }
