<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Learning foreign languages</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-dialog-service/dist/dialogs.min.css" />
    <link rel="stylesheet" href="bower_components/angular-flash-alert/dist/angular-flash.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css" />
    <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick-theme.css" />
    <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
  </head>

  <body ng-app="lingFrontendApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="brand">Fan Languages</div>

    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" ng-cloak href="#/">{{ 'Ling' | translate }}</a>
        </div>

        <div class="collapse navbar-collapse" id="js-navbar-collapse">

          <ul class="nav navbar-nav navbar-right" ng-controller='MainCtrl' >
            <li class="active"><a ng-cloak href="#/">{{ 'home' | translate }}</a></li>

            <li><a ng-if="user.signedIn" ng-cloak ng-href="#/vocabulary">{{ 'my_vocabularies' | translate }}</a></li>
            <li><a ng-cloak href="#/about">{{ 'about' | translate }}</a></li>

            <li ng-if="!user.signedIn" uib-dropdown>
              <a ng-cloak ng-href="#/" uib-dropdown-toggle >{{ 'log_in' | translate }}</a>
              <ul ng-cloak uib-dropdown-menu ng-controller="VocabularyCtrl">
                <li><a ng-if="!user.signedIn" ng-cloak ng-href="#/" ng-click="launch('sign_up')">{{ 'sign_up' | translate }}</a></li>
                 <li><a ng-if="!user.signedIn" ng-cloak ng-href="#/" ng-click="launch('login')">{{ 'sign_in' | translate }}</a></li>
                 <li><a ng-if="!user.signedIn" ng-cloak ng-href="#/" ng-click="launch('facebook_login')">{{ 'sign_in_facebook' | translate }}</a></li>
                 <li><a ng-if="!user.signedIn" ng-cloak ng-href="#/" ng-click="launch('google_login')">{{ 'sign_in_google' | translate }}</a></li>
              </ul>
            </li>

            <li ng-if="user.signedIn" uib-dropdown>
              <a ng-cloak ng-href="#/" uib-dropdown-toggle >{{ user.email }}</a>
              <ul ng-cloak uib-dropdown-menu ng-controller="VocabularyCtrl">
                <li><a ng-href class="glyphicon glyphicon-cog"></a></li>
                <li><a ng-href="#/" ng-click="handleSignOutBtnClick();"  class="glyphicon glyphicon-log-out"></a></li>
                <li class="dropdown-submenu" ng-class="{open: delhover}" ng-mouseenter="delhover = true; addhover = false" ng-click="delhover = false">
                  <a href ng-cloak class="glyphicon glyphicon-trash"  ng-mouseover="fetchUserDictionaries();">{{'del_dictionary' | translate}}</a>
                  <ul class="uib-dropdown-menu  pull-left">
                    <li ng-repeat="choice in userDictionaries">
                      <a href ng-cloak class="glyphicon glyphicon-remove-circle" ng-click="delUserDictionary('{{choice.id}}')">{{choice.dictionary_name}}</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu add" ng-class="{open: addhover}" ng-mouseenter="addhover = true; delhover = false" ng-click="addhover = false">
                  <a href ng-cloak class="glyphicon glyphicon-plus" ng-mouseover="fetchUnusedDictionaries();">{{'add_new_dictionary' | translate}}</a>
                  <ul class="dropdown-menu add">
                    <li ng-repeat="choice in unusedDictionaries">
                      <a href ng-cloak class="glyphicon glyphicon-plus-sign" ng-click="addUserDictionary('{{choice.id}}')">{{choice.name}}</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <li ng-cloak ng-controller="localeCtrl" uib-dropdown >
              <a href="#/" uib-dropdown-toggle class="glyphicon glyphicon-flag"></a>
                <ul uib-dropdown-menu>
                  <li ng-repeat="language in languages">
                    <a href ng-click="changeLanguage('{{language}}')">{{language}}</a>
                  </li>
                </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div flash-message="3000" ng-controller="FlashCtrl"></div>
      <div ng-view=""></div>
    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; igomelch@gmail.com 2015</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- build:js(./) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-cookie/angular-cookie.js"></script>
    <script src="bower_components/ng-token-auth/dist/ng-token-auth.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-dialog-service/dist/dialogs.min.js"></script>
    <script src="bower_components/angular-dialog-service/dist/dialogs.js"></script>
    <script src="bower_components/angular-dialog-service/dist/dialogs-default-translations.min.js"></script>
    <script src="bower_components/angular-dialog-service/dist/dialogs-default-translations.js"></script>
    <script src="bower_components/angular-flash-alert/dist/angular-flash.js"></script>
    <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/bootstrap-submenu/dist/js/bootstrap-submenu.js"></script>
    <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="bower_components/angular-audio/app/angular.audio.js"></script>
    <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="bower_components/angular-slick/dist/slick.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular-underscore-module/angular-underscore-module.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular-dragdrop/src/angular-dragdrop.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="bower_components/angular-tag-cloud/src/ng-tag-cloud.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="bower_components/angular-i18n/angular-locale_en-us.js"></script>
    <script src="bower_components/angular-i18n/angular-locale_ru-ru.js"></script>

    <!-- build:js({.tmp,./app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/app_config_i18n.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/vocabulary.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/word_card.js"></script>
    <!-- endbuild -->

  </body>
</html>
