<div class="row">
    <div class="box">
        <div class="col-lg-12 text-center">
            <div id="carousel-example-generic" class="carousel slide">
                <!-- Indicators -->
                <ol class="carousel-indicators hidden-xs">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="img-responsive img-full" src="images/slide-1.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="images/slide-2.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="images/slide-3.jpg" alt="">
                    </div>
                </div>

                <!-- Controls -->
                <a ng-non-bindable class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a ng-non-bindable class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="icon-next"></span>
                </a>
            </div>
            <h2 class="brand-before">
                <small>{{ 'TITLE' | translate }}</small>
            </h2>
            <h1 class="brand-name">{{ 'FOO' | translate }}</h1>
            <hr class="tagline-divider">
            <h2>
                <small>By
                    <strong>Start Bootstrap</strong>
                </small>
            </h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Build a website
                <strong>worth visiting</strong>
            </h2>
            <hr>
            <img class="img-responsive img-border img-left" src="images/intro-pic.jpg" alt="">
            <hr class="visible-xs">
            <p>The boxes used in this template are nested inbetween a normal Bootstrap row and the start of your column layout. The boxes will be full-width boxes, so if you want to make them smaller then you will need to customize.</p>
            <p>A huge thanks to <a href="http://join.deathtothestockphoto.com/" target="_blank">Death to the Stock Photo</a> for allowing us to use the beautiful photos that make this template really come to life. When using this template, make sure your photos are decent. Also make sure that the file size on your photos is kept to a minumum to keep load times to a minimum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        </div>
    </div>
</div>

<script type="text/ng-template" id="loginDialog.html">
  <div modaldraggable>
    <div class="modal-header">
      <h3 class="modal-title">{{ 'log_in' | translate }}</h3>
    </div>

    <form ng-submit="submitLogin(loginForm)" role="form" ng-init="loginForm = {}">
      <div class="modal-body">
        <div class="form-group">
          <label>{{ 'email' | translate }}</label>
          <input type="email" name="email" ng-model="loginForm.email" required="required" class="form-control"/>
        </div>

        <div class="form-group">
          <label>{{ 'password' | translate }}</label>
          <input type="password" name="password" ng-model="loginForm.password" required="required" class="form-control"/>
        </div>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">{{ 'sign_in' | translate }}</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">{{ 'cancel' | translate }}</button>
      </div>
    </form>
  </div>
</script>

<script type="text/ng-template" id="signUpDialog.html">
  <div modaldraggable>
    <div class="modal-header">
      <h3 class="modal-title">{{ 'sign_up' | translate }}</h3>
    </div>

    <form ng-submit="submitRegistration(registrationForm)" role="form" ng-init="registrationForm = {}">
      <div class="modal-body">
        <div class="form-group">
          <label>{{ 'email' | translate }}</label>
          <input type="email" name="email" ng-model="registrationForm.email" required="required" class="form-control"/>
        </div>

        <div class="form-group">
          <label>{{ 'password' | translate }}</label>
          <input type="password" name="password" ng-model="registrationForm.password" required="required" class="form-control"/>
        </div>

        <div class="form-group">
          <label>{{ 'password_confirmation' | translate }}</label>
          <input type="password" name="password_confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control"/>
        </div>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">{{ 'register' | translate }}</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">{{ 'cancel' | translate }}</button>
      </div>
    </form>
  </div>
</script>
