<div class="box">
  <div class="container-fluid" ng-if="currentUserDictionary && (currentUserDictionary.id != -1)">
    <div class="row">
      <div class="col-md-12">
        <div uib-dropdown class="pull-right">
          <button ng-if="countUserDictionaries > 1" uib-tooltip="{{i18nTranslate('select_dictionary')}}" id="split-button" type="button" class="btn btn-sm btn-primary" uib-dropdown-toggle ng-click="fetchUserDictionaries()">
            {{currentUserDictionary.dictionary_name}} <span class="caret"></span>
          </button>
          <ul uib-dropdown-menu>
            <li ng-repeat="choice in userDictionaries">
              <a href ng-click="selectUserDictionary('{{choice}}')">{{choice.dictionary_name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    </br>

    <div class="row">
      <div class="col-md-4">
        <div class="container">
          <p class="row">
            <div class="input-group col-xs-3">
              <input id="typeahead" type="text" ng-model="wordMatcher" placeholder="{{i18nTranslate('type_the_word')}}" uib-typeahead="(translations.word_from + ' - ' + translations.word_to) for translations in fetchTranslations($viewValue)" typeahead-loading="loadingTranslations" typeahead-no-results="noResults" class="form-control" typeahead-on-select="addUserTranslation($item); wordMatcher = $item.word_from;" ng-change="wordFilter(wordMatcher)" typeahead-wait-ms="800" typeahead-min-length="2" typeahead-popup-template-url="views/typeahead/typeahead-popup.html" typeahead-template-url="views/typeahead/typeahead-match.html" ng-submit="$event.stopPropagation()">
              <span class="input-group-addon">
                <i ng-show="loadingTranslations" class="glyphicon glyphicon-refresh"></i>
                <i ng-show="wordMatcher" class="glyphicon glyphicon-remove" ng-click="wordMatcher = ''; grigRefresh();"></i>
              </span>
            </div>

            <div>
              <div ng-show="noResults">
                <i class="glyphicon glyphicon-remove"></i> {{i18nTranslate('no_results_found')}}
              </div>
            </div>
          </p>

          <p class="row">
            <form class="form-inline" id="new-word" ng-submit="newWordSubmit()" ng-controller="newWordCtrl">
              <div class="form-group">
                  <input id="own-translation" type="text" required="required" ng-model="newWord" placeholder="{{i18nTranslate('enter_new_translation')}}" name="text" class="form-control"/>
                  <button type="submit" class="btn btn-sm btn-primary" id="submit" form="new-word">{{i18nTranslate('add')}}</button>
              </div>
            </form>
          </p>

          <p class="row">
            <div>
              <ng-tag-cloud cloud-width="250" cloud-height="250" cloud-data="tagCloud"></ng-tag-cloud>
            </div>
          </p>
        </div>
      </div>

      <div class="col-md-8">
        <div class="container" style="height: 100%; width: 100%;">
          <p class="row">
            <div ui-grid="gridOptions || []" ui-grid-selection class="grid">
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="wordCard.html">
  <div modaldraggable>
    <div class="modal-header">
      <a class="pull-right glyphicon glyphicon-remove" href ng-click="cancelCard();"></a>
    </div>

    <div class="modal-body">
      <div class="box" ng-repeat="card in [rowEntity]">
        <div>
          <hr>
          <h2 class="intro-text text-center">
              <strong uib-tooltip="{{i18nTranslate('original_word')}}">{{card.word_from}}</strong>
              <a href class="glyphicon glyphicon-volume-up" ng-click="getSounds(card.word_from);" uib-tooltip="{{i18nTranslate('get_sound')}}"></a>
          </h2>
          <hr>
        </div>

        <div>
          <h2 class="intro-text text-center">
              <strong uib-tooltip="{{i18nTranslate('word_transcription')}}">{{card.transcription_from}}</strong>
              </br>
              </br>
              </br>
              <strong uib-tooltip="{{i18nTranslate('word_translation')}}">{{card.word_to}}</strong>
              </br>
              </br>
          </h2>
        </div>

        <div>
          <a href ng-click="getImages(card);" uib-tooltip="{{i18nTranslate('another_image')}}" tooltip-popup-delay="300">
            <img class="img-responsive center-block" ng-src="{{card.association_img_url}}"  width="350" height="350">
          </a>
      </div>
      <div ng-controller="tagCtrl">
        <tags-input on-tag-added="newTagSubmit($tag, card)"
                    on-tag-removing="delTag($tag, card)"
                    ng-model="card.tags"
                    display-property="text"
                    placeholder="Add tag"
                    replace-spaces-with-dashes="false"
                    template="my-custom-template"
                    add-from-autocomplete-only='false'>
          <auto-complete source="loadTags($query, card)"
                         min-length="2"
                         load-on-focus="false"
                         load-on-empty="false"
                         max-results-to-show="32">
        </tags-input>
      </div>
      <div>
        <a class="controls previous pull-left" href ng-click="switchEntity(card.id, 'prev');">&laquo; prev</a>
        <a class="controls next pull-right" href ng-click="switchEntity(card.id, 'next');">next &raquo;</a>
      </div>
    </div>
    <div class="modal-footer">
      <a class="glyphicon glyphicon-trash pull-right" href ng-click="delCard();"></a>
    </div>
  </div>
</script>

<script type="text/ng-template" id="imageAssociation.html">
  <div modaldraggable>
    <div class="modal-header">
      <a class="pull-right glyphicon glyphicon-remove" href ng-click="cancelImgDialog();"></a>
    </div>

    <slick ng-if="imageAssociations" infinite=false speed=300 slides-to-show=5 touch-move=false slides-to-scroll=1 lazy-load="ondemand">
        <div ng-repeat="image in imageAssociations">
          <a href ng-click="saveImage(image)">
            <img class="img-responsive" ng-src="{{image}}" width="100" height="100"/>
          </a>
        </div>
    </slick>
  </div>
</script>

<script type="text/ng-template" id="my-custom-template">
  <div class="tag-template">
    <div>
      <span>{{$getDisplayText()}}</span>
      <a class="remove-button" ng-click="$removeTag()">×</a>
    </div>
  </div>
</script>
