<div>
  <div ng-controller="newWordCtrl">
    <ul when-scrolled="loadMore()" class="dropdown-menu scrollable-menu col-xs-12" ng-show="isOpen() && !moveInProgress" ng-style="{top: position().top+'px', left: position().left+'px'}" style="display: block;" role="menu" aria-hidden="{{!isOpen()}}">
      <li ng-repeat="match in [matches[0]] track by $index" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="openNewWordForm()" role="option" id="{{::match.id}}">
        <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
      </li>
      <li ng-repeat="match in loadMatches() track by $index" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index, $event)" role="option" id="{{::match.id}}" ng-if="match.model.id!=='0'">
        <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
      </li>
    </ul>
  </div>
</div>